<!DOCTYPE html>
<style>
img {
   display: block;
   margin-top: 8%;
   max-width: 100%;
   height: auto;
   width: auto\9; 
   margin-left: auto;
   margin-right: auto;
}
.blink, .high_info_display, .medium_info_display, .low_info_display{
   display: inline-block;
   text-align: center;
   margin: 7%;
   margin-left: 7.5%;
   padding: 1%;
   width: 16%;
   height: 10%;
   background-color: black;
   color: whitesmoke;
   border-radius: 15px;
   vertical-align: top;
   border: 5px solid #666;
}

.high_info_display:hover, .medium_info_display:hover, .low_info_display:hover{
   cursor: pointer;
   transition: 0.3s ease;
   filter: brightness(110%);
}


body{
   background-color: gray;
}
@keyframes blinking {
   0% {
      background-color: black;
      border: 3px solid #666;
   }
   100% {
      background-color: red;
      border: 3px solid #666;
   }
}
.blink {
        animation: blinking 1s infinite;
      }


</style>
<html>
   <head>
      <meta charset="utf-8">
      <title>Scanner Dashboard</title>
   </head>

<%- include ('./partials/nav'); %>

<body>
   <span style="font-size: 3em; color: Tomato;">
      <i class="fa-regular fa-crosshairs fa-2xl"></i>
   </span>

   <div>
      <img id="status" src="" width="350" height="100">
   </div>
   <div>
      <div class="high_info_display" onclick="test()">
         <h1>High alert: <%= alerts.High_Alert %></h1>
      </div>
      <div class="medium_info_display">
         <h1>Medium alert: <%= alerts.Medium_Alert %></h1>
      </div>
      <div class="low_info_display">
         <h1>Low alert: <%= alerts.Low_Alert %></h1>
      </div>
   </div>
</body>

<script src="https://kit.fontawesome.com/449adc21a1.js" crossorigin="anonymous"></script>
<script>
   //Updates image every 10 seconds. Needs to be random element to stop browser reusing image in cache
   const url = "https://cronitor.io/badges/uKVpG4/production/iVvSLth_Vq5UwQMd0yDkm40Ivjg.svg"
   var image = document.getElementById("status")
   image.src = url

   setInterval(function(){
      var image = document.getElementById("status")
      image.src = url + "?rand=" + Math.random()
   }, 7000)

   //Alerts the user if there is a high risk. 
   if ('<%= alerts.High_Alert %>' > 0){
      alert('ACTION NEEDED. Web server with high risk vulnerability found.')
      stylesheet = document.styleSheets[0]
      stylesheet.insertRule('.high_info_display {animation: blinking 1s infinite;}', 0)
   } else{
      element = document.getElementsByClassName('high_info_display')
      element[0].style.backgroundColor = 'darkgreen'
   }

   function test(){alert('Worked')}

   //Alerts the user when there is a medium risk
   if ('<%= alerts.Medium_Alert %>' > 10){
      stylesheet = document.styleSheets[0]
      stylesheet.insertRule('.medium_info_display {animation: blinking 1s infinite;}', 0)
   }else if ('<%= alerts.Medium_Alert %>' > 1){
      element = document.getElementsByClassName('medium_info_display')
      element[0].style.backgroundColor = 'orange'
   }else{
      element = document.getElementsByClassName('medium_info_display')
      element[0].style.backgroundColor = 'darkgreen'
   }

   if ('<%= alerts.Low_Alert %>' > 20){
      element = document.getElementsByClassName('low_info_display')
      element[0].style.backgroundColor = 'orange'
   } else{
      element = document.getElementsByClassName('low_info_display')
      element[0].style.backgroundColor = 'darkgreen'
   }
</script>


</html>


